*{
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
}
/*NOTE TO SELF: Alignment issues are almost always solved by shared containers, not flex tricks.*/
.top-container{
    display:flex;
    flex-direction:column;
    background-color: #1F2937;
}
.header-container{
    display:flex;
    justify-content: space-between;
    flex-direction: row;    
    align-items: center;
}
.links{
    display:flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.Logo{
    display: flex;
    width: 50%;
    justify-content: center;
}

.main-container{
    display:flex;
    width:60%;
    border: solid 10px #111827;
    flex-direction: column;
   
   
}
.divider {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 60px 0;
}

.main-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 10px #111827;
   
}
.content {
  max-width: 1100px;  /* SAME width for header & main */
  margin: 0 auto;     /* centers both */
  padding: 0 20px;    /* edge breathing room */
}

.main-text h1,
.main-text p {
  margin: 5px;
}





.image-container{
  width: 1550px;
  height:200px;
    border: solid 10px #111827;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: gray;
    
}




.header-container p{
 font-size: 24px;
}
.header-container a{
    font-size: 18px;
    text-decoration: none;
}
.main-container h1{
    font-size:48px;
    font-weight: 900;
    
}
.main-container p{
    font-size:20px;
    font-weight:400;
    
    
}
button{
    background-color:#3882F6;
    border-radius: 999px;
    cursor: pointer;
    padding: auto 20px 20px;
    width: 70px;;
}